Repository MicrosoftEdge/MSEdgeExplainers, pull requests merged in 2020-04, with the labels that each got.

#270 Rename titlebar to Window Controls Overlay
  TitleBarCustomization/explainer.md
Labels: Title Bar Customization

#273 [Window Controls Overlay] New section for out-of-scope navigation
  TitleBarCustomization/CustomTitleBarExampleShort.png
  TitleBarCustomization/OutOfScopeNavigation.png
  TitleBarCustomization/explainer.md
Labels: Window Controls Overlay

#282 [URL Protocol Handler] Remove title/icon properties from URLProtocolHandler explainer.
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#287 Removing Jose and Eric from author
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#284 Graduate "PWAs as URI Handlers" explainer from private repo
  PwaUriHandler/explainer.md
  README.md
Labels: PWA URI Handling
