Repository MicrosoftEdge/MSEdgeExplainers, pull requests merged in 2020-01, with the labels that each got.

#154 Add link to Custom Dialog on Close Explainer in the README
  README.md
Labels: Custom Dialog on Close

#169 Address comments from issue #168
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#182 Title Bar Customization: Address feedback
  TitleBarCustomization/CaptionControlsWithExtension.png
  TitleBarCustomization/CaptionControlsWithOrigin.png
  TitleBarCustomization/RTL-standalone-titlebar.png
  TitleBarCustomization/explainer.md
  TitleBarCustomization/searchBrowser.png
  TitleBarCustomization/searchPWA.png
Labels: Title Bar Customization
