Repository MicrosoftEdge/MSEdgeExplainers, pull requests merged in 2020-05, with the labels that each got.

#308 Add mention to protocol_handlers for WebExtensions
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#307 Add 'Alternatives Considered' section
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#315 Updates to Window Controls Overlay
  TitleBarCustomization/explainer.md
Labels: Window Controls Overlay

#325 Update security considerations section
  URLProtocolHandler/explainer.md
Labels: URLProtocolHandler

#316 Update URL handling explainer w/ feedback suggestions.
  PwaUriHandler/explainer.md
Labels: PWA URL Handling

#328 Archive the pwa url handlers explainer.
  PwaUriHandler/explainer.md
  README.md
Labels: PWA URL Handling
