Repository MicrosoftEdge/MSEdgeExplainers, pull requests merged in 2025-08, with the labels that each got.

#1114 Separates the explainers for Web Install
  WebInstall/explainer-bd.md
  WebInstall/explainer.md
Labels: Web Install API

#1117 [CSSGapDecorations] Add future idea for subgrids
  CSSGapDecorations/explainer.md
Labels: CSSGapDecorations

#1127 [CSSGapDecorations] Refresh explainer
  CSSGapDecorations/explainer.md
  CSSGapDecorations/images/csswg-drafts-issue-12024-issuecomment-3086244002-first-example.png
  CSSGapDecorations/images/explainer-issue-1099.png
  CSSGapDecorations/images/explainer-issue-1100.png
Labels: CSSGapDecorations

#1134 Draggable App Region explainer
  .github/ISSUE_TEMPLATE/draggable-app-region.md
  Draggable/explainer.md
  Draggable/image1.png
  Draggable/security-privacy-questionnaire.md
  README.md
Labels: Draggable App Region
