Repository MicrosoftEdge/MSEdgeExplainers, pull requests merged in 2025-03, with the labels that each got.

#975 Expands on the declarative alternative solution for Web Install
  WebInstall/explainer.md
Labels: Web Install API

#981 Adds implementor criteria
  WebInstall/explainer.md
Labels: Web Install API

#989 [CSSGapDecorations] Bring multicol row decorations into scope
  CSSGapDecorations/explainer.md
Labels: CSSGapDecorations

#997 Adds the Materials for PWAs explainer
  .github/ISSUE_TEMPLATE/materials.md
  Materials/explainer.md
  Materials/macMaterial.png
  Materials/winMaterial.png
  README.md
Labels: Materials

#998 Improve text on the resources that are not downloaded.
  ResourceTimingInitiatorInfo/explainer.md
Labels: Resource Timing Initiator Info
